@import "../../../styles/settings.scss";

.root {
  background-color: $productbox-bg;
  border: 1px solid $productbox-border-color;
  margin-bottom: 2rem;

  .photo {
    position: relative;
    background: {
      color: $productbox-photo-bg;
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    overflow: hidden;
    align-items: flex-end;

    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .sale {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $productbox-sale-bg;
      border-radius: 50%;
      color: $productbox-sale-color;
      padding: 30px 15px 5px 15px;
    }

    .buttons {
      display: flex;
      justify-content: space-between;
      visibility: hidden;
    }
  }

  .content {
    text-align: center;
    padding: 20px;

    h5 {
      color: $primary;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 1px;
    }

    .stars {
      a {
        text-decoration: none;
        color: $productbox-stars-color;
      }
    }
  }

  .line {
    margin: 0 10px;
    border-bottom: 1px solid $productbox-color;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -1px;
      left: 50%;
      width: 30px;
      border-bottom: 4px solid $primary;
      transform: translateX(-50%);
    }
  }

  .actions {
    padding: 15px 10px 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:hover .buttons {
      visibility: visible;
  }
  &:hover .price .priceBtn{
    background-color: $primary;
  }
}
